{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe List{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        {% for ingredient in recipe.ingredients.all %}
        <tr>
            <td>{{ingredient.ingredient.name}}</td>
            <td>{{ingredient.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}